* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
}

::selection {
    background-color: var(--main-color);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
}

/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.main-title {
    position: relative;
    margin: 0 auto 80px;
    padding: 10px 20px;
    width: fit-content;
    border: 1px solid black;
    transition: var(--main-transition);
}

.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    transition: var(--main-transition);
}

.main-title::before {
    left: -30px;
}

.main-title:hover::before {
    animation: left-move .6s linear forwards;
}

.main-title::after {
    right: -30px;
}

.main-title:hover::after {
    animation: right-move .6s linear forwards;
}

.main-title:hover {
    transition-delay: 0.5s;
    color: white;
    border-color: white;
}

header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

header .container .logo {
    color: var(--main-color);
    font-weight: bold;
    font-size: 26px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    header .container .logo {
        height: 50px;
        width: 100%;
    }
}

header .container .main-nav {
    display: flex;
}

@media (max-width: 767px) {
    header .container .main-nav {
        margin: auto;
    }
}

header .container .main-nav li a {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 72px;
    padding: 0 30px;
    transition: var(--main-transition);
    overflow: hidden;
}

@media (max-width: 767px) {
    header .container .main-nav li a {
        font-size: 14px;
        padding: 10px;
        height: 50px;
    }
}

header .container .main-nav li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--main-color);
    transition: var(--main-transition);
    top: 0;
    left: -100%;
}

@media (max-width: 767px) {
    header .container .main-nav li a::before {
        top: unset;
        bottom: 0;
    }
}

header .container .main-nav li a:hover {
    color: var(--main-color);
    background-color: #FAFAFA;
}

header .container .main-nav li a:hover::before {
    left: 0;
}

header .mega-menu {
    position: absolute;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    width: 75%;
    max-width: 100%;
    background-color: white;
    padding: 30px;
    z-index: -1;
    border-bottom: 3px solid var(--main-color);
    transition: top var(--main-transition), opacity var(--main-transition), z-index var(--main-transition);
}

header .mega-link:hover .mega-menu {
    z-index: 100;
    opacity: 1;
    top: 73px;
}

@media (max-width: 991px) {
    header .mega-link:hover .mega-menu {
        justify-content: unset;
        gap: 50px;
    }
}

@media (max-width: 767px) {
    header .mega-menu {
        flex-direction: column;
        gap: 0;
        top: 100px;
        padding: 10px;
    }

    header .mega-link:hover .mega-menu {
        top: 100px;
    }
}

header .mega-menu .image img {
    max-width: 100%;
    position: relative;
}

@media (max-width: 991px) {
    header .mega-menu .image img {
        display: none;
    }

    header .mega-menu .links {
        min-width: 240px;
    }
}

header .mega-menu .links li {
    all: unset;
    position: relative;
    overflow: hidden;
    display: flex;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
}

@media (max-width: 767px) {
    header .mega-menu .links:nth-child(3) li:last-child a {
        border-bottom: none;
        margin-bottom: 2px;
    }
}

header .mega-menu .links li a {
    width: 100%;
    justify-content: left;
    color: var(--main-color);
    position: relative;
    height: 60px;
    border-bottom: 1px solid #ddd;
    padding: 10px 30px 10px 10px;
    margin-bottom: 5px;
}

header .mega-menu .links li a:hover {
    background-color: transparent;
}

header .mega-menu .links li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    transition: .6s;
    top: 0;
    left: -100%;
    z-index: -1;
}

header .mega-menu .links li:hover a::before {
    left: 0;
}

header .mega-menu .links li a i {
    margin-right: 10px;
    color: var(--main-color);
    font-weight: bold;
}

.landing {
    position: relative;
}

.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -30px;
    left: 0;
    background-color: #EDEDED;
    transform: skewY(-6deg);
    z-index: -1;
    transform-origin: top left;
}

.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 120px;
}

.landing .container .text {
    flex: 1;
    max-width: 500px;
}

@media (max-width: 991px) {
    .landing .container .text {
        text-align: center;
        margin: -60px auto;
    }
}

.landing .container .text h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.landing .container .text p {
    font-size: 16px;
    line-height: 1.7;
    color: #666;
}

.landing .image img {
    position: relative;
    width: 600px;
    height: 100%;
    animation: up-down 3s linear infinite;
}

@media (max-width: 991px) {
    .landing .image img {
        display: none;
    }
}

.landing a {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    animation: bouncing 2s linear infinite;
}

@media (max-width: 767px) {
    .landing a {
        bottom: 30%;
        left: 47%;
    }
}

.landing a i {
    color: var(--main-color);
    transition: var(--main-transition);
}

.landing a i:hover {
    color: var(--main-color-alt);
}

@keyframes up-down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -25px;
    }
}

@keyframes bouncing {

    0%,
    10%,
    20%,
    50%,
    80%,
    90%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}

@keyframes left-move {
    50% {
        left: 0;
    }

    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes right-move {
    50% {
        right: 0;
    }

    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}